body
{
    margin:0px;
    background-color:white;
}
.header img
{
    width:100%;
    height:400px;
}
.navigation *
{
    font-family:arial;
}
.navigation ul
{
    font-size:20px;
    background-color:black;
    color:white;
    margin-top:-10px;
}
.navigation ul li
{
    display:inline-block;
    margin:20px;
}
.navigation ul li:hover 
{
    color:rgb(200, 200, 200);
    cursor:pointer;
}
.footer
{
    background-color:black;
    color:white;
    font-size:20px;
    font-family:arial;
    height:300px;
}
.footer ul li 
{
    display:inline-block;
    margin:20px;
}
.footer ul li:hover 
{
    color:rgb(200, 200, 200);
    cursor:pointer;
}
.footer img
{
    float:right;
    margin-top:-70px;
    height:70px;
}
.footer a
{
    text-decoration:none;
    color:white;
    font-size:25px;
    cursor:pointer;
}
.footer a:hover 
{
    color:rgb(200, 200, 200);
}
.socialMedia
{
    margin-top:-80px;
}
.main
{
    font-family:arial;
    text-align:center;
    width:33%;
    margin-left:33%;
}
.main img
{
    width:500px;
    height:500px;
    border-radius:25px;
}
.sign-in
{
    font-size:20px;
    font-family:arial;
    text-align:center;
    background-color:white;
    color:black;
    margin-top:-28px;
    height:600px;
}
.sign-in form
{
    width:500px;
    height:500px;
    background-color:rgb(240, 240, 240);
    border-radius:25px;
    margin-left:100px;
    padding:10px;
    color:black;
    margin-top:100px;
    border-left:5px solid red;
}
.sign-in input
{
    margin-top:20px;
    margin-bottom:20px;
    border-radius:10px;
    width:250px;
    height:18px;
}
.sign-in button
{
    width:80px;
    height:40px;
    border-radius:20px;
    border:none;
    background-color:red;
    color:white;
    font-size:20px;
    font-family:arial;
    cursor:pointer;
}
.sign-in img
{
    width:50%;
    height:693px;
    margin-left:50%;
    margin-top:-592px;
}
.sign-up
{
    font-size:20px;
    font-family:arial;
    text-align:center;
    background-color:white;
    color:black;
    margin-top:-28px;
    height:600px;
}
.sign-up form
{
    width:500px;
    height:500px;
    background-color:rgb(240, 240, 240);
    border-radius:25px;
    margin-left:100px;
    padding:10px;
    color:black;
    margin-top:100px;
    border-left:5px solid red;
}
.sign-up input
{
    margin-top:20px;
    margin-bottom:20px;
    border-radius:10px;
    width:250px;
    height:18px;
}
.sign-up button
{
    width:90px;
    height:40px;
    border-radius:20px;
    border:none;
    background-color:red;
    color:white;
    font-size:20px;
    font-family:arial;
    cursor:pointer;
}
.sign-up img
{
    width:50%;
    height:693px;
    margin-left:50%;
    margin-top:-592px;
}
.navigation a
{
    text-decoration:none;
    color:white;
}
.game
{
    font-family:arial;
    font-size:20px;
    text-align:center;
    width:37%;
    margin-left:33%;
}
.game img
{
    width:100%;
    height:300px;
}
.champions
{
    font-family:arial;
    font-size:20px;
    text-align:center;
    width:37%;
    margin-left:33%;
}
.champions img
{
    width:100%;
    height:300px;
}
.players
{
    font-family:arial;
    font-size:20px;
    text-align:left;
    width:37%;
    margin-left:33%;
}
.players input
{
    width:400px;
    height:30px;
    border-radius:30px;
    font-size:20px;
}
.players button
{
    width:70px;
    height:30px;
    border-radius:5px;
    font-size:20px;
    background-color:rgb(0, 115, 255);
    color:white;
    border:none;
    cursor:pointer;
}
.players div
{
    border:1px solid black;
    padding-left:30px;
    padding-top:-20px;
    padding-right:30px;
    border-radius:20px;
    margin-top:30px;
}
.champions2
{
    margin-left:-100%;
}
.champions2 img 
{
    width:100px;
    height:100px;
    border-radius:50px;
    position:relative;
    left:260px;
    margin-left:40px;
    border:5px solid gold;    
}
.navigation button
{
    position:relative;
    top:-60px;
    float:right;
    background-color:transparent;
    color:white;
    font-family:arial;
    font-size:18px;
    cursor:pointer;
}
.dark-mode {
    background-color:black;
    color:white;
  }
